<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Cool Blog System</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    {{{body}}}
  </div>
</body>
</html>
